body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
  background-image:url("../media/back.jpg");
  background-repeat: repeat-y;
  background-size:100%;
  background-position:center
 }

 .headImg
 {
   width: 100%;
    height: auto;
 }

 main {
   flex: 1 0 auto;
 }
.palabraResaltada{
color: #26a69a;
}
#code{
	font-size:35px;
}
